<h1>Welcome to DoubleTravel!</h1> 

<%= link_to 'Sign Up', signup_path %>
OR 
<%= link_to 'Log In with Email', login_path %>
OR
<%= link_to('Log in with Facebook', '/auth/facebook', method: :post) %>

<!--OR
<%= link_to 'Log In with Google', '/auth/google_oauth2' %>-->
