<h1>All the Users</h1>


<div><% @users.each do |user| %>
<ol>
           <li>Name: <%= user.name %></li>
               Email: <%= user.email %><br><br>
</ol>
       <% end %>
</div>

<p>Current User: <%= current_user.email %><br>
   User Id:      <%= current_user.id %>
</p>



