<h1>All the Destinations!</h1>


<div><% @destinations.each do |destination| %>
<ol>
        <li><p>Name: <%= destination.name %></p></li>
        <li><p>Continent: <%= destination.continent %></p></li><br><br>
</ol>
       <% end %>
</div>