<h1>All the Destinations!</h1>


<div><% @destinations.each do |destination| %>
<ol>
        <li>User: <%= destination.user.email %></li>
        <li>Name: <%= destination.name %></li>
        <li>Continent: <%= destination.continent %></li><br><br>
</ol>
       <% end %>
</div>